<footer class="position-absolute bottom-0 end-0">
  <% if(currentUser) {%>
    <li><%= currentUser.username%></li>
    <li>
      <form class="" action="/sessions?_method=DELETE"method="post">
        <input type="submit" value="Log Out"class="btn-small red">
      </form>
    </li>
  <%} else {%>
    <a href="/users/new">Sign Up</a>
    <a href="/sessions/new">Log In</a>
  <%}%>
    <img style="width:300px;margin:50px ;
    "src="//cdn.shopify.com/s/files/1/0428/7804/2265/files/GLORIAL_SKIN_1_410x.png?v=1596191747"/>
    <p style="color: white;">GlorialSkin © Copyright 2017</p>
</footer>
