<a href="/products" class="brand-logo left">
  <img src="//cdn.shopify.com/s/files/1/0428/7804/2265/files/GLORIAL_SKIN_1_410x.png?v=1596191747" alt="">
</a>
<ul class="right">


  <% if(currentUser) {%>
    <li> <a style=>Welcome, <%= currentUser.username%></a></li>
    <li><a href="/products/new">Create a new product</a></li>
    <li>
      <form class="" action="/sessions?_method=DELETE"method="post">
        <input type="submit" value="Log Out"class="btn-small red">
        <li><a href="/products/about">About Us</a></li>
        <li><a href="products/setup/seed">Reload Items</a></li>
        <li><a href="products/dropdatabase/cannotundo/areyoursure/reallysure/okthen">Drop Items</a></li>
      </form>
    </li>
  <%} else {%>
    <li><a href="/users/new">Sign Up</a> </li>
    <li><a href="/sessions/new">Log In</a> </li>
    <li><a href="/products/about">About Us</a></li>
  <%}%>
</ul>
