<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="aboutBody">
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <h1 style="font-family:Material;">About Us</h1>
    <p class="overflow-auto fs-3"style="text-align:center;font-size:18px;">We are at GlorialSkin we love to help our customers with the best and last technology in the beauty and skincare sector, We work hard to make sure that it is easy and understandable. We make your life easier and make sure that you can count on us. Our products are designed based on your likes and comments, so be sure to visit our good news
       and happy thread and be assured that we do our best.<br>

GlorialSkin © Copyright 2017.<br>
<a href="https://www.glorialskin.com">www.glorialskin.com</a></p><br>

  </body>
  

</html>
