<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>new product page</title>
    <h1>Hello new product page</h1>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>

  </body>
</html>
