<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1>Add your Wishlist product</h1>
      <form action="/products" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" required />
        <label for="Category">Category:</label>
        <input type="text" name="color" />
        <label for="color">About:</label>
        <input type="text" name="color" />
        <label for="price">Price:$</label>
        <input type="text" name="price" />
        <label for="Quantity">Quantity:</label>
        <input type="text" name="qty" />
        <label for="color">Picture:</label>
        <input type="file" name="image" />
        <br/>
        <div>
          <label for="freeDelivery">
            <input type="checkbox" id="freeDelivery" name="freeDelivery" />
            <span>Free Delivery</span>
          </label>
        </div>
        <br>
        <input class="subm"type="submit" value="Submit">
      <form>
    </div>
  </body>
</html>
